/**
 * 
 * common css
 * 
 */

/*hide hamburger icon*/
.header_menu {
    display: none;
}

body {
    font-family: 'PT Serif', serif;

}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
}

.text_Section {
    clear: both;
}

.text_title {
    font-weight: 500;
    margin-bottom: .2em;
}

.text_description {
    text-decoration: none;
    color: #666;
    padding: 1.5em inherit;
    font-size: .9em;
}


.text_Section_main {
    text-align: center;
}



/*
 *header 
 * 
 * 
*/

.header {
    box-shadow: 0 2px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
    display: block;
}

.header_inner {
    width: 100%;
}

.header_logo {
    height: 100px;
    margin: .4em 1.5em .4em 2.5em;
    vertical-align: top;
}

.header_title {
    font-weight: 300;
    font-size: 4em;
    margin: .4em 0 .4em auto;
    display: inline-block;
}

/*
 *
 * nav bar
 * 
*/

.nav {
    width: 100%;
}

.nav_list {
    padding: 0;
    margin: 0;
}

.nav_item {
    display: inline-block;
    align-content: center;
    width: 25%;
    line-height: 20px;
    padding: 15px 0px 15px 0px;
    text-transform: uppercase;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #616161;
    font-size: 1.2em;
    font-family: 'Noto Serif', serif;

}

.nav a:hover {
    text-decoration: underline;
    color: #212121;
}



/*
 *
 * Hero
 * 
*/

.hero-image{
    background-image: url('../images/MVIMG_20190928_140836.jpg');
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -90%);
    color: white;
    text-shadow: 1.5px 1.5px black;
}

#greeting-text {
    font-size: 3em;
}

#hero-sub {
    font-size: 1.3em;
    font-style: italic;
}




/*
 *
 * Table
 * 
*/
table,
th,
td {
    border: .1px solid rgba(0, 0, 0, 0.26);

    border-collapse: collapse;
}

.table-container {
    display: flex;
    flex-wrap: wrap;

}

table {
    width: 49%;
    min-width: 20em;

    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding: 5px;
    text-align: left;
}

/*
 *
 * footer
 * 
*/

footer {
    background: #333333;
    height: 200px;
    text-align: center;
}

footer ul {
    padding-top: 15px;
    width: 850;
}


footer li {
    display: inline;
    padding: 5px;
}


.footer_icon {
    height: 40px;
    margin: .4em 1.5em .4em 1em;
}

.end_footer {
    color: #e1e3e7;
    padding-top: 20px;
    font-size: .7em;
}



@media screen and (max-width: 600px) {

    .content {
        margin-left: 3%;
        margin-right: 3%;
    }

    .header_logo {
        margin-left: .5em;
        height: 48px;
        margin-right: 0.5em;
    }

    .header_title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }

    .header_menu svg {
        width: 32px;
        fill: #E0E0E0;
    }

    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }

    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav_item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
        margin-left: 3%;
        margin-right: 0;
        padding-right: 0;
    }

    .header_menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }

    /*
    slideshow for build
    
    */
    .prev,
    .next,
    .slideshow_text,
    .numbertext {
        font-size: 1em;
    }

    /*
    tabbed image for build
    
    */



}

@media screen and (min-width: 601px) {

    .header_logo {
        height: 80px;
        margin-right: 0.5em;
    }

    .header_title {
        margin-left: 0;
        font-size: 3em;
        vertical-align: bottom;
    }

    .nav_item {
        width: 24.3%;
    }

    .nav a {
        font-size: .9em;
    }

    .slideshow_text {
        min-height: 3em;
    }

    #text_description {
        font-size: 1em;
    }
}

@media screen and (min-width: 720px) {

    .header_inner,
    .nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        margin-left: 3%;
        margin-right: 3%;
    }

    .nav a {
        font-size: 1em;
    }

    .slideshow_text {
        min-height: 3em;
    }
}

@media screen and (min-width: 1000px) {

    .nav,
    .content {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}
